h1 {
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    background-image: url('https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg');
    }
#brushes1 {
    font-family: Helvetica;
    font-size: 32px; 
    font-weight: bold;
    color: #fff;
    background-color: mediumspringgreen;
}
#brushes {
    font-family: Helvetica;
    font-weight: blue;
    color: blue
}
#frames1 {
    background-color: lightcoral;
}
#paint1{
    background-color: skyblue;
}